@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cherry+Bomb+One&display=swap');
.customheight{
    height: 18rem;
}
.logo-image{
  height: 10%;
}

.loginfont{
  font-family: 'Cherry Bomb One', cursive;
  font-size: xxx-large;}.loginfont1{
    font-family: 'Cherry Bomb One', cursive;
    font-size: x-large;}
.secondaryback{
    color: black!important;
    background-color: rgb(243 243 242)!important;
}
.secd{
  background-color: rgb(243 243 242)!important;
  height: 100vh;
}
#root{
  height: 100vh!important;
}
/* test */
.css-rnmm7m-MuiPaper-root-MuiDialog-paper{
    height: 90%!important;
    width: 100%!important;
}
.social{display: flex!important;
  justify-content: center!important;
  align-items: center!important;}
.googlebtn{
  width: 100%;
}
.applebtn{
  background-color: black!important;
  color: white!important;
  
  padding-right: 28px!important;

  width: 100%;
}
.css-cwpu7v {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    margin: 0px;
    position: relative;
    width: 100%!important;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 4px);
    max-width: 900px;
    width: calc(100% - 0px);
}
.backbtn{
    margin-top: 2rem!important;
    margin-left: 14px!important;
    display: flex!important;
    justify-content: flex-start!important;
}
.backbtnicon{
    color:rgb(130, 9, 155);
}
.login-image-container{
  height: 25rem;
color: white;
  background-color: rgb(130, 9, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-dropdown-button button.dropdown-toggle {
background-color: white; 
text-align: left;
color:#6c757d ; 
border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
width: 100%;
}
  .custom-dropdown-button .dropdown-toggle-text {
    display: flex;
    align-items: center;
  }
  .w100{
    width: 100%;
  }
  .rounded-circle {
    height: 8rem;
    width: 8rem;
    border-radius: 50% !important;
    border: 1px solid rgba(241, 241, 241, 0.473)!important;
}   
.img-fluid {
    max-width: 100%!important;
    height: 100%!important
}
.form-control{
    border-radius: 15px;
    height: 3rem;
}
.dropdown-menu.show {
    width: 100%;
}
.custom-dropdown-button button.dropdown-toggle {
    background-color: white;
    text-align: left;
    display: flex;
    color: #6c757d;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle::after {
    display: flex;
    vertical-align: 0.255em;
    content: "";
    width: 12px;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.homeimage{
  height: 100%;
width: 100%;}
.textcenter{    display: flex;
  justify-content: center;}
  .gradient1{
    background-color:#7fffd4;
    height: 483px;
    z-index: 1;
    position: relative;
  }
  .offer2{
    background-color: rgb(130, 9, 155);
    margin: 0px!important;
    padding: 0px;
    padding-bottom: 4px!important;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e5e5;
  }
.card-header{
        padding: 0px!important;
        background-color: #f5f514!important;
        color: #000000ad!important;
        font-weight: 700!important;
    }
  .removepad{
    margin: 0px!important;
  }
  .app{width: 14rem;
    margin: 1rem;}
    .card-text{
        font-weight: 300;
        margin: 0px!important;
    }
    .font-weight-bold1{
      font-weight: 600;
      margin-bottom: 6px;
          }
          .font-weight-bold{
            font-weight: 600;
                }
                     
    .card-body {
        flex: 1 1 auto;
        padding: 10px!important;
        border-top-left-radius: 2rem!important;
        border-top-right-radius: 2rem!important;        display: grid;
        align-content: space-evenly;}

        .bgcard{background-color: #7166ddde!important;
          margin: 2rem!important;
          color: white!important;}
          .heroimg{
            display: flex!important;
    align-items: center!important;
    flex-direction: row!important;
          }

            .txtmar{
            
    margin-left: 2rem!important;

          }

          .loginnumberborder{
            border-bottom-left-radius: 0px!important;
            border-top-left-radius: 0px!important;
           }
           .loginnumbericonborder{
            border-bottom-right-radius: 0px!important;
            border-top-right-radius: 0px!important;
           }
                 
/* load screen */
.logincard{
  --bs-card-border-radius: 0rem!important;
  height: 17rem!important;
  
}
.logincard1{
  background-color: rgb(130, 9, 155)!important;

}
.bodylogin{
  background-color: white;
}
.custom-input {
  width: 100%; /* Set the width of the input field to 100% */
  height: 2.5rem;
  border-radius: 10px;
  padding-left: 13px;
}
.custom-suggestion {

  list-style-type: none; /* Add this line to remove the dots */

}
.custom-suggestions-container {
  height: 100%;
  background-color: #fff!important;
  width: 101%;
  top: 4rem;
  margin-left: -16px;
}.red{
  color: red;
}
.smargin{    --bs-gutter-x: -5px !important;}
.grid{
  display: flex;
  align-items: center;
  padding: 15px;
}
.original-price {
  text-decoration: line-through;
}
.wishlisttocart{
  width: 111px;
    height: 137px;
    object-fit: contain;
}
.cartimgcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.cartimg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.logo-img {
  width:40%;
  height:100px;
  padding: 2rem;
  text-align:center; /* Set the desired height */
}

.slick-slide img {
  display: content!important;
}