.customheight{
    height: 18rem;
}
.secondaryback{
    color: black;
    background-color: rgb(243 243 242);
}
/* test */
.css-rnmm7m-MuiPaper-root-MuiDialog-paper {
    width: 100%!important;
    height: 90%;
}