.search-input {
    position: relative;
    text-align: center;
  }

  
  .search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }
  .searchbar{
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
  }
  input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
                                       }
                          .menufont{
                            font-size: x-small;
                          }
                          a {
                            color: #3b3b3b;
                            text-decoration: none;
                          }
                          a:hover {
                             color:  #3b3b3b;
                          }
.notselected{
  color:  #3b3b3b;
}
.active{
  color: rgb(130, 9, 155);
}
.activebackground{
 /* background-color:  #3b3b3b; */
 position: fixed;
  width: 100%;
}
.pt5{
  padding-top: 4rem;
}