.search-input {
    position: relative;
    text-align: center;
  }
  .searchs-icon{
    position: absolute;
    top: 63%;
    right: 26px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }
  .search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }
  .searchbar{
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
  }
  input[type="text"], textarea {
    outline: none;
  
    border:1px solid #cccccc5e!important;
                                       }
                          .menufont{
                            font-size: x-small;
                          }
                          a {
                            color: #3b3b3b;
                            text-decoration: none;
                          }
                          a:hover {
                             color:  #3b3b3b;
                          }
.notselected{
  color:  #3b3b3b;
}
.active{
  color: rgb(130, 9, 155);
}.background{
  background-color: rgb(130, 9, 155)!important;
  color: white!important;
}
.nomargin{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.activebackground{
 background-color:  white;
 position: fixed;
  width: 100%;
}
.pt5{
  padding-top: 4rem;
}
.font{
  font-weight: 900;
}.herobannerbg{background-color:#dee2e624;
}
.start{margin-left: -7px;
}
.herobannerbg:focus{background-color:#dee2e624;
}

.shopnow{
  height: 3rem;
    width: 8rem;
    color: #fff;
    background-color: black;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: 7px 7px 7px #c5c5c5;
}
.shopnow:hover, .shopnow:active, .shopnow:focus {
  background-color: black!important;
  color: #fff!important;}
.menuicons{
  height: 3rem;
   
}
.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;}

.flex-item {
  padding: .5em;
}
.marginsort{margin-right: 12px;}
.sort{
  padding: 2px;
}

.top{
  position: sticky!important;
  top: 0!important;
  z-index: 100!important;
  padding-bottom: 5px;
}
.fixed-height-img {
  height: 200px; /* Adjust the desired fixed height */
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.128); /* Adjust the desired overlay color and opacity */
}.image-container {
  position: relative;
}
.card{
  --bs-card-border-width:0px;
  --bs-card-spacer-y: 10px;

}
.card-top-radius{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.rounded{
  border-radius: 1rem!important;
}
.selected {
  color: white!important;
  background-color:rgb(130, 9, 155)!important;
  border: none;

}.selected:focus {
  color: white!important;
  background-color:rgb(130, 9, 155)!important;
  border: none;
}.selected:active {
  color: white!important;
  background-color:rgb(130, 9, 155)!important;
  border: none;
}
.offer{
  height: 1rem;
  margin-bottom: 3px;
  color: rgb(130, 9, 155)!important;

}
.user-image{height: 4rem;}
.offer-text{font-weight: bolder;}
.remove-border{
  border: none;
}
hr.dashed-line {
  border: none;
  border-top: 1px dashed #ccc;
  margin: 5px 0!important;
}
.display{
  display: inline-block;
}
.mytextalign{    text-align: initial;}
.display-profile{
  display: flex;
  justify-content: space-between;
}
.left{margin-left: 15px;}
.right{
  margin-right: 15px;
}
.profile-link{
  display: flex;
}
.myflex{
  display: flex;
  align-items: center;
}
.ml3{
  margin-left: 3px;
}
.ml5{
  margin-left: 5px;
}