.search-input {
    position: relative;
    text-align: center;
  }

  
  .search-input .search-icon {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }
  .searchbar{
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
  }
  input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
                                       }
                          .menufont{
                            font-size: x-small;
                          }
                          a {
                            color: #3b3b3b;
                            text-decoration: none;
                          }
                          a:hover {
                             color:  #3b3b3b;
                          }
.notselected{
  color:  #3b3b3b;
}
.active{
  color: rgb(130, 9, 155);
}
.activebackground{
 background-color:  white;
 position: fixed;
  width: 100%;
}
.pt5{
  padding-top: 4rem;
}
.herobanner{
  padding-top:2rem!important;
  padding-left: 2rem!important;
  font-weight: 900;
  padding-right: 2rem!important;
}.herobannerbg{background-color:#dee2e624;
}
.shopnow{
  height: 3rem;
    width: 8rem;
    color: #fff;
    background-color: black;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.shopnow:hover, .shopnow:active, .shopnow:focus {
  background-color: black!important;
  color: #fff!important;}
.menuicons{
  height: 3rem;
   
}
.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;}

.flex-item {
  padding: .5em;
}
